/** @format */

:root {
    color-scheme: light dark;
    color: #ff71cd;
    background-color: #fff7fc;
    font-family: "Poppins", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}
